@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Kristi|Merriweather&display=swap');
mily=DM+Serif+Text|Kristi|Merriweather&display=swap
html {
  background-color: white;
  font-family: Tahoma, Geneva, sans-serif;
  color: #454344;
}
body {
  padding: 2em 0;
  margin: 0;
  text-align: center;
}
a.plain {
  text-decoration: none !important;
}
#sitename {
  text-transform: lowercase;
}
#posts {
  margin: 1em auto;
  max-width: 40em;
  font-size: .8em;
}
#posts td {
  vertical-align: top;
  padding-bottom: 1em;
}
#posts td h2 {
  margin: 0;
}
#posts .title {
  text-align: left;
  width: 100%;
}
#posts .pub {
  width: 8em;
  text-align: right;
  font-size: .9em;
}
img.divider {
  margin: 0 auto 2em;
  display: block;
}
article {
  max-width: 40em;
  text-align: left;
  margin: 0 auto;
}
article h1,
article h2,
article h3,
article h4,
article h5 {
  font-family: "DM Serif Text";
  margin: .75em 0 .25em 0;
  padding: 0;
}
article h1 {
  font-size: 2em;
}
p {
  margin: 0 0 1em 0;
}
#shingle {
  font-size: 1.3em;
  font-family: Merriweather;
  background-image: url(/images/paisley.png);
}
#sitename {
  font-size: 5em;
  font-family: Kristi, cursive;
  padding: 0;
  margin: 0;
}
#shingle,
#shingle * {
  color: #36454f;
}
blockquote#quote {
  min-height: 4em;
}
blockquote {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 35em;
  padding-bottom: 1em;
}
blockquote cite::before {
  content: "—";
}
blockquote cite {
  display: block;
  text-align: right;
  margin-top: .5em;
}
#whereabouts {
  padding: 3em 0 0;
  display: inline-block;
}
#whereabouts a,
#whereabouts img {
  width: 5em;
  height: 5em;
  margin: 0 .25em;
  float: left;
}
#whereabouts li {
  padding: none;
  margin: none;
  list-style: none;
  float: left;
}
