@import url('https://fonts.googleapis.com/css?family=Kristi|Merriweather&display=swap');
html {
  background-color: white;
  font-family: Tahoma, Geneva, sans-serif;
  color: #454344;
}
body {
  padding: 2em 0;
  margin: 0;
  text-align: center;
}
#shingle {
  font-size: 1.3em;
  font-family: Merriweather;
  background-image: url(/images/paisley.png);
}
#shingle h1 {
  font-size: 5em;
  font-family: Kristi, cursive;
}
#shingle,
#shingle * {
  color: #36454f;
}
#shingle blockquote {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 30em;
  padding-bottom: 1em;
  display: none;
}
#shingle blockquote.selected {
  display: block;
}
blockquote cite::before {
  content: "—";
}
blockquote cite {
  display: block;
  text-align: right;
  margin-top: .5em;
}
h1 {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
img#bulb {
  width: 7em;
  margin-bottom: 1em;
}
#whereabouts {
  padding: 0;
  display: inline-block;
}
#whereabouts a, #whereabouts img {
  width: 5em;
  height: 5em;
  margin: 0 .25em;
  float: left;
}
#whereabouts li {
  padding: none;
  margin: none;
  list-style: none;
  float: left;
}
