<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Nutty Nuggets" />
<meta name="keywords" content="code,software,development" /><!--plug tags here-->
<meta name="author" content="Mario T. Lanza" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
<!-- TODO: Figure out rss feed -->
<title>Nutty Nuggets</title>
</head>
