<article>
<header>
  <a class="permalink" href="/{{ path }}"><h1>{{ title }}</h1>
  {{#if teaser}}<div class="teaser">{{ teaser }}</div>{{/if}}</a>
  {{#if date}}<div class="byline">by {{#if author}}{{ author }}{{ else }}{{ site.author }}{{/if}}, {{ date }}</div>{{/if}}
{{#if tags}}
<ul class="tags">
{{#each tags}}
<li><a href="/tagged/{{name}}">{{name}}</a></li>
{{/each}}
</ul>
{{/if}}
{{#if summary}}
<ul class="meta">
  <li class="summary">
    <p>{{{ summary }}}</p>
  </li>
  <li class="wordcount">&mdash; {{{ wordCount }}} words &mdash;</li>
</ul>
{{/if}}
</header>
{{{ contents }}}
</article>