
<footer>
<nav>
  {{#if previous}}&laquo; <a href="/{{previous.path}}">{{previous.title}}</a>{{/if}}
  {{#if next}}<a href="/{{next.path}}">{{next.title}}</a> &raquo; {{/if}}
</nav>
{{#if comments }}
<section id='comments'>
<h1>Feedback</h1>
{{#if prompt}}<h2>{{ prompt }}</h2>{{/if}}
<div id="disqus_thread"></div>
</section>
{{/if}}
<ul id="whereabouts">
  <li>
    <a href="https://stackoverflow.com/users/25358" title="Stackoverflow" >
      <img src="/assets/images/stackoverflow.png">
    </a>
  </li>
  <li>
    <a href="https://github.com/mlanza" title="Github" >
      <img src="/assets//images/github.png">
    </a>
  </li>
  <li>
    <a href="https://www.goodreads.com/user/show/48213713-mario-lanza" title="Goodreads" >
      <img src="/assets/images/goodreads.png">
    </a>
  </li>
  <li>
    <a href="http://www.linkedin.com/pub/mario-t-lanza/3/a05/1b4/" title="Linked In Profile">
      <img src="/assets/images/linkedin.png">
    </a>
  </li>
  <li>
    <a href="http://www.boardgamegeek.com/user/mlanza" title="Boardgamegeek Profile">
      <img src="/assets/images/bgg.png">
    </a>
  </li>
  <li>
    <a href="https://www.quora.com/profile/Mario-T-Lanza" title="Quora Profile">
      <img src="/assets/images/quora.png">
    </a>
  </li>
  <li>
    <a href="/potions-n-poisons" title="Potions n' Poisons">
      <img src="/assets/images/potion.svg">
    </a>
  </li>
</ul>
</footer>
</body>
</html>