<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{#if title }}{{title}}{{#if teaser}}: {{teaser}}{{/if}} - {{/if}}{{ site.name }}</title>
  <meta name="description" content="{{#if summary}}{{ summary }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<nav>
  <a href="/" class="brand">{{ site.name }}</a>
  <a href="/articles">Articles</a> |
  <a href="/tags">Tags</a> |
  <a href="/about">About</a>
</nav>