{{> header }}
<article>
<header>
  <h1>{{ title }}</h1>
  {{#if teaser}}<div class="teaser">{{ teaser }}</div>{{/if}}
  {{#if date}}<div class="byline">by {{#if author}}{{ author }}{{ else }}{{ site.author }}{{/if}}, {{ date }}</div>{{/if}}
</header>
{{#if summary}}
<dl class="meta">
  <dt class="summary">Summary</dt>
  <dd class="summary">{{{ summary }}}</dd>
  <dt class="wordcount">Word Count</dt>
  <dd class="wordcount">{{{ wordCount }}}</dd>
</dl>
{{/if}}
{{{ contents }}}
</article>
{{> footer }}