{{> header }}
<article>
<header>
  <h1>{{ title }}</h1>
  {{#if teaser}}<div class="teaser">{{ teaser }}</div>{{/if}}
  {{#if date}}<div class="byline">{{#if author}}by {{ author }}, {{/if}}{{ date }}</div>{{/if}}
</header>
{{#if tags}}
<ul class="tags">
{{#each tags}}
<li><a href="/tagged/{{name}}">{{name}}</a></li>
{{/each}}
</ul>
{{/if}}
{{#if summary}}
<dl class="meta">
  <dt class="summary">Summary</dt>
  <dd>{{{ summary }}}</dd>
  <dt class="wordcount">Word Count</dt>
  <dd>{{{ wordCount }}}</dd>
</dl>
{{/if}}
{{{ contents }}}
</article>
<nav>
  {{#if previous}}&laquo; <a href="/{{previous.path}}">{{previous.title}}</a>{{/if}}
  {{#if next}}<a href="/{{next.path}}">{{next.title}}</a> &raquo; {{/if}}
</nav>
{{> footer }}