@import url("//fonts.googleapis.com/css?family=Slabo+27px|PT+Sans+Narrow|Merriweather");
@import url("/assets/prism.css");
body {
  font-family: "Slabo 27px";
}
header {
  font-style: italic;
  width: 43em;
  margin: 0 -5em;
}
h1 {
  font-size: 2.25em;
}
.tags {
  text-align: center;
  margin: 1em auto;
  width: 30em;
  padding: 0;
}
.tags ul{
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
}
.tags li {
  display: inline-block;
  padding: 0;
  margin: .2em 0;
}
nav {
  font-family: "Slabo 27px";
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin:0;
}
nav li {
  padding:0;
  margin:0;
}
nav a, .tags a {
  padding: .2em;
  margin: .2em;
}
article {
  margin: 0 auto;
  font-size: 1.75em;
  width: 33em;
  padding-bottom: 5em;
}
article,
ul.recent {
  min-height: 20em;
  margin: 1em auto;
}
ul.index {
  list-style: none;
  padding: 0;
  margin: 1em auto;
  width: 33em;
}
ul.index li {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}
ul.index li p {
  margin: .25em 0 .5em;
  font-size: .9em;
}
a.brand {
  text-decoration: none;
  color: inherit;
}
ul.index li:after {
  content: '';
  height: .4em;
  width: .4em;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .35em;
  left: 0;
}
pre {
  padding: 1em;
  font-size: .7em;
}
header h1 {
  margin: 1em 0 0 0;
  text-align: center;
}
header,
.title {
  font-family: Merriweather, Georgia;
}
dl.meta {
  margin: 1.5em 2em;
  font-family: "PT Sans Narrow";
  padding: 0;
  margin:0;
}
dl.meta dt {
  text-align: center;
   font-size: .8em;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
dl.meta dt,
dl.meta dd {
  margin: 0;
  padding: 0;
  display: block;
}
dl.meta dt {
  margin-top: 1em;
}
dl.meta dd.wordcount {
  text-align: center;
}
dl.meta dt:before,
dl.meta dt:after {
  content: "\2014";
}
dl.meta dd.summary {
  padding: 1em;
  margin: .25em;
  border-left: solid .5em;
  font-size: .8em;
}
div.meta,
div.teaser,
div.byline {
  text-align: center;
  font-style: italic;
}
div.teaser {
  font-size: 1.5em;
}
div.byline {
  font-size: .8em;
  margin: 1em;
}
span.date {
  font-size: .8em;

}
h2 {
  font-family: "PT Sans Narrow";
  padding: .2em .5em .2em 1em;
  margin: 1em 0 0 -1em;
  display: inline-block;
}
footer {
  text-align: center;
}

.brand {
  background-image: url("/assets/images/bulb.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 2em;
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  padding-top: 3em;
  display: block;
  background-color:  transparent;
}


/* color palette */

*, a {
  color: #27332F;
}
h1 {
  color: #13211d;
}
a {
  background-color: #ffd27f;
  background-color: rgba(204, 132, 0, .33);
}
mark {
  background-color: rgba(204, 132, 0, .25)
}
a.brand {
  color: inherit;
  background-color: transparent;
}
pre {
  background-color: #EEE;
}
header {
  color: #34282C;
}
dl.meta dd.summary {
  background-color: #b7bcba;
  border-color: #798581;
}
h2 {
  color: white;
}
span.date, a.brand {
  color: #cc8400;
}
h2, ul.index li:after {
  background-color: #cc8400;
}
