@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto&family=Shadows+Into+Light&display=swap');
@import url("/assets/prism.css");
html{
  background-image: url(images/paisley.png);
}
body {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.25em;
}
ul {
  padding: 0;
  margin: 0;
}
table.index .tags {
  font-size: .7em;
  opacity: .5;
}
table.index tr:hover .tags {
  opacity: 1;
}
article header .tags {
  text-align: center;
  margin: 1em auto;
  max-width: 30em;
  padding: 0;
  position: absolute;
  top: 0;
  right: 1em;
}
article .tags ul {
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
  text-align: center;
}
article .tags li {
  display: inline-block;
  padding: 0;
  margin: .2em 0;
}
#sitename {
  font-family: "Shadows Into Light", sans-serif;
}
nav {
  text-align: center;
  font-size: 1.25em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin:0;
}
nav li {
  padding:0;
  margin:0;
}
nav a, .tags a {
  padding: .2em;
  margin: .2em;
}
.meta {
  font-style: normal;
}
article {
  margin: 0 auto 5em;
  font-size: 1.75em;
  max-width: 32em;
  padding: 0;
}
article > * {
  max-width: 32em;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
article header {
  font-style: italic;
  margin: 1em 0;
}
a.permalink {
  text-decoration: none;
}
article header h1 {
  margin-top: 0;
}
article,
ul.recent {
  min-height: 20em;
  margin: 1em auto;
}
article > ul {
  list-style: none;
}
article > ul li {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}
article > ul li p {
  margin: .25em 0 .5em;
  font-size: .9em;
}
a.brand {
  text-decoration: none;
  text-transform: lowercase;
  color: inherit;
}
article > ul li:after {
  content: '';
  height: .4em;
  width: .4em;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .35em;
  left: 0;
}
article ul.tags li:after {
  list-style:  none;
  display: none;

}
header h1 {
  margin: 1em 0 0 0;
  text-align: center;
}
section.summary {
  padding: 1em;
  background-color: rgba(255,255,255,.8);
  margin: 1em auto .5em;
  max-width: 30em;
  border-left: solid .5em;
  font-size: .8em;
  text-align: left;
}
.teaser {
  text-align: center;
}
.teaser {
  font-size: 1.5em;
}
.byline {
  font-size: .8em;
  text-align: right;
}
.date {
  font-size: .8em;
}
table.index td {
  vertical-align: top;
}
table.index td.post {
  width: 100%;
  padding-bottom: 1em;
}
table.index td.date {
  min-width: 8em;
}
table.index td.post p {
  padding: 0;
  margin: 0;
}
table.index td.post h2 {
  padding: 3px;
}
h2 {
  padding: .2em .5em .2em .7em;
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
}
table.index h2 {
  font-size: 1em;
  padding: 0;
}
footer {
  text-align: center;
  margin: 1em 0;
  padding: 1em 1em 2em;
}
.brand {
  text-align: center;
  font-size: 4em;
  margin: .2em 0 0;
  line-height: 1em;
  padding: 10px;
  display: block;
  background-color:  transparent;
}
article > ul ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
  font-size: .75em;
  display: block;
}
article > ul ul li {
  padding: 0;
  display: inline-block;
}
pre {
  padding: 1em;
  font-size: .8em;
  margin: 0;
  max-width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,.8) !important;
}
pre code {
  display: inline-block;
  margin: 0 auto;
  min-width: 35em;
  line-height: 1.2em !important;
}
pre[class*="language-"] {
  text-align: center;
}
pre[class*="language-"],
code[class*="language-"] {
  font-family: Inconsolata;
}
article header, pre[class*="language-"] {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 1em 0;
}

pre[class*="language-"] {
  padding: 1em;

}
/* color palette */

*, a {
  color: #27332F;
}
h1 {
  color: #13211d;
}
a {
  background-color: rgba(204, 132, 0, .33);
}
mark {
  background-color: rgba(228, 238, 211, .75);
}
a.brand {
  color: inherit;
  background-color: transparent;
}
header {
  color: #34282C;
}
.meta .summary p {
  background-color: #b7bcba;
  border-color: #798581;
}
h2 {
  color: white;
}
span.date, a.brand {
  color: #cc8400;
}
h2, article > ul > li:after {
  background-color: #cc8400;
}
.tags a {
  background-color: #e4eed3;
}
#whereabouts {
  padding: 3em 0 0;
  display: inline-block;
}
#whereabouts a,
#whereabouts img {
  width: 5em;
  height: 5em;
  margin: 0 .25em;
  float: left;
}
#whereabouts li {
  padding: none;
  margin: none;
  list-style: none;
  float: left;
}
#whereabouts a {
  background-color: transparent;
}

