@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Shadows+Into+Light&display=swap');
@import url("/assets/prism.css");
html, body {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}
html {
  font-family: 'Barlow', sans-serif;
  background-image: url(images/planes.jpeg);
  background-attachment: fixed;
}
body {
  background-color: rgba(255,255,255,.94);
  padding: 2em 0;
}
h1, h2, .teaser, nav, .tags, td.published {
  font-family: 'Barlow Condensed', sans-serif;
}
#sitename {
  font-family: "Shadows Into Light", sans-serif;
}
.summary {
  font-style: normal;
}
h1 {
  font-size: 2.25em;
}
ul {
  padding: 0;
  margin: 0;
}
table.index .tags {
  font-size: .7em;
  opacity: .5;
  margin-top: .5em;
}
table.index tr:hover .tags {
  opacity: 1;
}
article header .tags {
  text-align: center;
  margin: 1em auto;
  max-width: 30em;
  padding: 0;
  position: absolute;
  top: 0;
  font-style: normal;
  right: 1em;
}
article .tags ul {
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
  text-align: center;
}
article .tags li {
  display: inline-block;
  padding: 0;
  margin: .2em 0;
}
article header .tags li {
  display: block;
  text-align: right;
  margin-bottom: .6em;
}
article p {
  line-height: 1.4em;
}
nav {
  text-align: center;
  font-size: 1.25em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin:0;
}
nav li {
  padding:0;
  margin:0;
}
nav a, .tags a {
  padding: .2em;
  margin: .2em;
}
.meta {
  font-style: normal;
}
article {
  margin: 0 auto 5em;
  font-size: 1.75em;
  max-width: 32em;
  padding: 0;
}
article > * {
  max-width: 32em;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
article header {
  font-style: italic;
  margin: 1em 0;
}
a.permalink {
  text-decoration: none;
}
article header h1 {
  margin-top: 0;
}
article,
ul.recent {
  min-height: calc(100vw - 39.2em);
  margin: 1em auto;
}
article > ul {
  list-style: none;
}
article > ul li {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}
article > ul li p {
  margin: .25em 0 .5em;
  font-size: .9em;
}
a.brand {
  text-decoration: none;
  text-transform: lowercase;
  color: inherit;
  vertical-align: baseline;
  line-height: 1.1em;
}
article > ul li:after {
  content: '';
  height: .4em;
  width: .4em;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .35em;
  left: 0;
}
article ul.tags li:after {
  list-style:  none;
  display: none;
}
header h1 {
  margin: 1em 0 0 0;
  text-align: center;
}
blockquote {
  font-family: "Shadows Into Light";
  font-weight: bold;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1em;
  margin: 1em 4em 1em 1.25em;
  border-left: solid 20px;
  border-color: rgba(215,215,215,.5);
  border-color: rgba(204, 132, 0, .33);
}
blockquote p {
  line-height: 1.2em;
  padding: 0;
  margin: 0;
}
blockquote cite {
  display: block;
  text-align: right;
  font-weight: normal;
  font-size: .6em;
  color: #cc8400;
}
blockquote cite:before {
  content: "— ";
}
section.summary {
  padding: 1em 1.5em;
  background-color: rgba(215,215,215,.5);
  border-color: #798581;
  margin: 1em auto .5em;
  max-width: 28em;
  border-left: solid .5em;
  font-size: .85em;
  text-align: left;
  line-height: 1.4em;
}
.teaser {
  text-align: center;
  font-size: 1.5em;
  color: #cc8400;
}
.published {
  text-align: right;
  font-size: .8em;
  padding: .4em;
}
td.published {
  opacity: .8;
}
p.published {
  color: #cc8400;
  font-family: "Shadows Into Light";
}
.divider {
  display: block;
  margin: 0 auto;
}
#comments {
  margin: 2em auto;
  max-width: 45em;
}
#comments > h1 {
  margin: 0;
}
#comments > h2 {
  margin: 0;
  color: #cc8400;
  background-color: transparent;
  font-weight: 400;
  -font-family: "Shadows Into Light";
}
#comments > div {
  margin: 1.5em;
}
table.index td {
  vertical-align: baseline;
}
table.index td.post {
  width: 100%;
  padding-bottom: 1em;
}
table.index td.published {
  min-width: 4em;
}
table.index td.post p {
  padding: 0;
  margin: 0;
}
table.index td.post h2 {
  padding: 3px;
  font-weight: normal;
}
table.index td.post .summary {
  font-size: .9em;
}
h2 {
  padding: .2em .5em .2em .7em;
  margin: 0;
  font-size: 1.5em;
  display: inline-block;
}
table.index h2 {
  font-size: 1.1em;
  padding: 0;
}
footer {
  text-align: center;
  margin: 1em 0 -1em;
  padding: 1em 1em 2em;
}
.brand {
  position: relative;
  text-align: center;
  font-size: 4em;
  margin: .2em auto 0;
  line-height: 1em;
  padding: 10px;
  display: block;
  background-color:  transparent;
  max-width: 6em;
  word-spacing: -15px;
}
article > ul ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
  font-size: .75em;
  display: block;
}
article > ul ul li {
  padding: 0;
  display: inline-block;
}
pre {
  padding: 1em;
  font-size: .8em;
  margin: 0;
  max-width: 100%;
  text-align: center;
  background-color: rgba(215,215,215,.5) !important;
}
pre code {
  display: inline-block;
  margin: 0 auto;
  min-width: 35em;
  line-height: 1.2em !important;
}
pre[class*="language-"] {
  text-align: center;
}
pre[class*="language-"],
code[class*="language-"] {
  font-family: Inconsolata;
}
article header, pre[class*="language-"] {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 1em 0 !important;
}

pre[class*="language-"] {
  padding: 1em;
}

/* color palette */

*, a {
  color: #27332F;
}
h1 {
  color: #13211d;
}
a {
  background-color: rgba(204, 132, 0, .33);
}
mark {
  background-color: rgba(228, 238, 211, .75);
}
a.brand {
  color: inherit;
  background-color: transparent;
}
header {
  color: #34282C;
}
h2 {
  color: white;
}
span.published, a.brand {
  color: #cc8400;
}
h2, article > ul > li:after {
  background-color: #cc8400;
}
.index h2 {
  background-color: rgba(204, 132, 0, .33);
}
.tags a {
  background-color: #e4eed3;
}
#whereabouts {
  padding: 3em 0;
  display: inline-block;
}
#whereabouts a,
#whereabouts img {
  width: 5em;
  height: 5em;
  margin: 0 .25em;
  float: left;
}
#whereabouts li {
  padding: none;
  margin: none;
  list-style: none;
  float: left;
}
#whereabouts a {
  background-color: transparent;
}