@import url("//fonts.googleapis.com/css?family=Slabo+27px|PT+Sans+Narrow|Merriweather|Inconsolata");
@import url("/assets/prism.css");
body {
  font-family: "Slabo 27px";
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.25em;
}
article header .tags {
  text-align: center;
  margin: 1em auto;
  max-width: 30em;
  padding: 0;
}
article .tags ul {
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
  text-align: center;
}
article .tags li {
  display: inline-block;
  padding: 0;
  margin: .2em 0;
}
nav {
  font-family: "Slabo 27px";
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
  margin:0;
}
nav li {
  padding:0;
  margin:0;
}
nav a, .tags a {
  padding: .2em;
  margin: .2em;
  font-style: normal;
  font-family: "Slabo 27px";
}
.meta {
  font-style: normal;
}
article {
  margin: 1em auto 5em;
  font-size: 1.75em;
  width: 100%;
  padding: 0;
}
article > * {
  max-width: 32em;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
article header {
  font-style: italic;
  max-width: 100%;
  margin: 1em 0;
}
article header h1 {
  margin-top: 0;
}
article,
ul.recent {
  min-height: 20em;
  margin: 1em auto;
}
ul.index {
  list-style: none;
  padding: 1em;
  margin: 1em auto;
  max-width: 33em;
}
ul.index li {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}
ul.index li p {
  margin: .25em 0 .5em;
  font-size: .9em;
}
a.brand {
  text-decoration: none;
  color: inherit;
}
ul.index li:after {
  content: '';
  height: .4em;
  width: .4em;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .35em;
  left: 0;
}
header h1 {
  margin: 1em 0 0 0;
  text-align: center;
}
header,
.title {
  font-family: Merriweather, Georgia;
}
.meta {
  font-family: "PT Sans Narrow";
  list-style: none;
  display: block;
  max-width: 35em;
  padding: 0;
  margin: 0 auto;
}
.meta li {
  padding: 0;
  margin: 0 auto .5em;
  width: auto;
  text-align: center;

}
.meta li.wordcount {
  text-align: center;
  font-size: .8em;
}
.meta li.summary p {
  padding: 1em;
  margin: .25em;
  border-left: solid .5em;
  font-size: .8em;
  text-align: left;
}
.teaser,
.byline {
  text-align: center;
}
.teaser {
  font-size: 1.5em;
}
.byline {
  font-size: .8em;
  margin: 1em;
}
.date {
  font-size: .8em;
}
h2 {
  font-family: "PT Sans Narrow";
  padding: .2em .5em .2em 1em;
  margin: 0 0 0 -1em;
  font-size: 1.5em;
  display: inline-block;
}
footer {
  text-align: center;
  margin: 1em 0;
}
.brand {
  background-image: url("/assets/images/bulb.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 3.25em;
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  padding-top: 3em;
  display: block;
  background-color:  transparent;
}
ul.index ul {
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
  font-size: .75em;
  display: block;
}
ul.index ul li {
  padding: 0;
  display: inline-block;
}
pre {
  padding: 1em;
  font-size: .8em;
  margin: 0;
  max-width: 100%;
  text-align: center;
}
pre code {
  display: inline-block;
  margin: 0 auto;
  min-width: 37em;
  line-height: 1.2em !important;
}
pre[class*="language-"] {
  text-align: center;
}
pre[class*="language-"],
code[class*="language-"] {
  font-family: Inconsolata;
}

/* color palette */

*, a {
  color: #27332F;
}
h1 {
  color: #13211d;
}
a {
  background-color: rgba(204, 132, 0, .33);
}
mark {
  background-color: rgba(228, 238, 211, .75);
}
a.brand {
  color: inherit;
  background-color: transparent;
}
header {
  color: #34282C;
}
.meta .summary p {
  background-color: #b7bcba;
  border-color: #798581;
}
h2 {
  color: white;
}
span.date, a.brand {
  color: #cc8400;
}
h2, ul.index > li:after {
  background-color: #cc8400;
}
.tags a {
  background-color: #e4eed3;
}